<div class="dialog">
  <h1 mat-dialog-title>Edit Journal Entry</h1>
  <mat-dialog-content class="content">
  <mat-form-field appearance="fill" class="matt leftt">
    <mat-label>Project</mat-label>
    <mat-select
      [(ngModel)]="data.project"
      name="project"
    >
      <mat-option *ngFor="let project of projects" [value]="project">
        {{ project }}
      </mat-option>
    </mat-select>
  </mat-form-field>
    <mat-form-field appearance="fill" class="matt matt2" style="width: 100%">
      <mat-label>Client</mat-label>
      <mat-select [(ngModel)]="data.client" name="client">
        <mat-option *ngFor="let client of clients2" [value]="client">
          {{client}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Amount<span class="required-asterisk">*</span></mat-label>
      <input type="number" matInput [(ngModel)]="data.amount" />
    </mat-form-field>



    <mat-form-field appearance="fill" class="matt matt2" style="width: 100%">
      <mat-label>Receiver</mat-label>
      <mat-select [(ngModel)]="data.receiver" name="receiver">
        <mat-option *ngFor="let clientt of clients" [value]="clientt">
          {{clientt}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Reason<span class="required-asterisk">*</span></mat-label>
      <input matInput [(ngModel)]="data.reason" />
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Method<span class="required-asterisk">*</span></mat-label>
      <input matInput [(ngModel)]="data.method" />
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Remarks <span class="required-asterisk">*</span></mat-label>
      <input matInput [(ngModel)]="data.remarks" />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">No Thanks</button>
    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="data"
      cdkFocusInitial
    >
      Update
    </button>
  </mat-dialog-actions>
</div>
