<div class="mat-elevation-z8">
  <div class="search-div">
    <!-- <app-dialogbox></app-dialogbox> -->
    <mat-form-field appearance="standard">
      <mat-label>Search</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. John"
        #input
      />
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container
      [matColumnDef]="tableData"
      *ngFor="let tableData of objectKeys(columnHeader)"
    >
      <th
        style="font-weight: bold; font-size: large"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        {{ columnHeader[tableData] }}
      </th>

      <td mat-cell *matCellDef="let element">
        <div *ngIf="element[tableData]==='update'; else second">

        <button class="btn"  mat-mini-fab [ngStyle]="{'background-color':'#2c3344'}" aria-label="Example icon button with a home icon" >
          <mat-icon   >edit</mat-icon>
        </button>
        </div>
        <ng-template #second>
          <div *ngIf="element[tableData]==='delete'; else elseBlock">

          <button class="btn"  mat-mini-fab [ngStyle]="{'background-color':'#2c3344'}" aria-label="Example icon button with a home icon" >
            <mat-icon (click)='getData(element)'  >delete</mat-icon>
          </button>
          </div>
        </ng-template>   
      
        <ng-template #elseBlock>{{ element[tableData] }}</ng-template>
        </td>
        </ng-container>

    <tr mat-header-row *matHeaderRowDef="objectKeys(columnHeader)"></tr>
    <tr mat-row *matRowDef="let row; columns: objectKeys(columnHeader)"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageSize]="5"
    showFirstLastButtons
  ></mat-paginator>
</div>