.search-div {
  padding: 10px;
  margin-top: -20px;
  margin-bottom: -20px;
}
.search {
  font-size: 20px;
  margin-left: 20px;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 20px;
  margin-left: 20px;
}

td,
th {
  width: 15%;
}
.btnn{
  height: 5px !important;
  width:5px !important;
  font-size:5px !important;
}
.mat-icon{
  height:15px !important;
  width:15px !important;
  font-size:15px !important;
}

button[mat-mini-fab] {
  transform: scale(0.7) !important;
 }