.search-div {
  padding: 10px;
  margin-top: -20px;
  margin-bottom: -20px;
}
.search {
  font-size: 20px;
  margin-left: 20px;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 20px;
  margin-left: 20px;
}

td,
th {
  width: 15%;
}
.btnn {
  height: 8px !important;
  width: 8px !important;
  font-size: 8px !important;
}
.mat-icon {
  height: 25px !important;
  width: 25px !important;
  font-size: 25px !important;
}

button[mat-mini-fab] {
  transform: scale(0.8) !important;
}
