.box{
font-size: 14px;
width: 100%;
}

.boxx{
    font-size: 12px;
    width: 100%;
    }

.matt{
    padding-right:3%;
    width: 25%;
}

.matt2{
    width: 45%;

}
.btnn{
    padding-bottom: 40px
    /* padding-left: 50px; */
}
.btnn2{
    padding-bottom: 30px;
}

.mattsingle{
    padding-top: 10%;
    padding-right: 25%;
    width: 25%;
}

.leftt{
    padding-left: 2%;
}

.mattt{
    padding-right:2%;
    width: 20%;
}
.bott{
    padding-bottom: 1.25%;
}

.upp{
    padding-top: 10px;
}