<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxflex="25">
<mat-toolbar color="primary">User Login</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayoutGap="10px" fxLayout="column" class="login">
            <mat-form-field>
              <input matInput placeholder="Username" >
            </mat-form-field>
            
            <mat-form-field>
                <input matInput type="password" placeholder="Password" >
              </mat-form-field>
            <button mat-button type="submit">Login </button>
            </form>
    </mat-card>
</div>