* {
  background-color: rgb(218, 228, 255);
}
.email {
  padding: 1px;
  line-height: 1%;
  margin-bottom: 1em;
}
.login {
  padding: 20px;
}
.mat-card {
  max-width: 400px;
  margin: 10em auto;
  text-align: center;
}
.mat-form-field {
  display: block;
}
.mat-card-subtitle,
.mat-card-content {
  font-size: 15px;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}