<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="journal"></ion-icon>
      Journal Entries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="journalForm" (ngSubmit)="addJournalEntry(); journalForm.reset();">
  <ion-row formGroupName="debit" class="ion-margin">
    <ion-col size="3" size-xs="12" size-sm="4" size-md="3">
    <ion-item>
      <ion-label position="floating">Cost Center</ion-label>
      <ion-select formControlName="costCenter">
        <ion-select-option disabled>Projects</ion-select-option>
        <ion-select-option *ngFor="let project of costCenter.projects" [value]="project.id">{{project | costcenterOwner}}</ion-select-option>
        <ion-select-option disabled>Cost Center</ion-select-option>
        <ion-select-option *ngFor="let nonProfit of costCenter.nonProfits" [value]="nonProfit.id">{{nonProfit | costcenterOwner}}</ion-select-option>
      </ion-select>
    </ion-item>
    </ion-col>
    <ion-col size="2" size-xs="12" size-sm="4" size-md="2">
      <ion-item>
        <ion-label position="floating">Debit Account</ion-label>
        <ion-select formControlName="account">
          <ion-select-option disabled>Bank Accounts</ion-select-option>
          <ion-select-option *ngFor="let bankAccount of accounts.bankAccounts" [value]="bankAccount.id">{{bankAccount | accountOwner}}</ion-select-option>
          <ion-select-option disabled>Cash Accounts</ion-select-option>
          <ion-select-option *ngFor="let cashAccount of accounts.cashAccounts" [value]="cashAccount.id">{{cashAccount | accountOwner}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="2" size-xs="12" size-sm="4" size-md="2">
      <ion-item>
        <ion-label position="floating">Amount</ion-label>
        <ion-input formControlName="amount" type="number"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <!-- Credit -->
  <div formArrayName="credit">
  <ion-row class="ion-margin" *ngFor="let creditField of credit.controls; let i = index" [formGroupName]="i">
    <ion-col size="3" size-xs="12" size-sm="4" size-md="3">
      <ion-item>
        <ion-label position="floating">Credit Account <span *ngIf="i > 0">({{i+1}})</span></ion-label>
        <ion-select formControlName="account">
          <ion-select-option disabled>Bank Accounts</ion-select-option>
          <ion-select-option *ngFor="let bankAccount of accounts.bankAccounts" [value]="bankAccount.id">{{bankAccount | accountOwner}}</ion-select-option>
          <ion-select-option disabled>Cash Accounts</ion-select-option>
          <ion-select-option *ngFor="let cashAccount of accounts.cashAccounts" [value]="cashAccount.id">{{cashAccount | accountOwner}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="2" size-xs="12" size-sm="4" size-md="2">
      <ion-item>
        <ion-label position="floating">Amount</ion-label>
        <ion-input formControlName="amount" type="number"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="2" size-xs="12" size-sm="4" size-md="2">
    <ion-item>
      <ion-label position="floating">Entry Type</ion-label>
      <ion-select formControlName="entryType">
        <ion-select-option *ngFor="let entryType of entryTypes" [value]="entryType.id">{{entryType.value}}</ion-select-option>
      </ion-select>
    </ion-item>
    </ion-col>
    <ion-col size="3" size-xs="12" size-sm="6" size-md="3">
    <ion-item>
      <ion-label position="floating">Particulars</ion-label>
      <ion-input name="particulars" type="text"></ion-input>
    </ion-item>
    </ion-col>
    <ion-col size="2" size-xs="12" size-sm="6" size-md="2">
      <p class="ion-text-center">
        <ion-icon name="add-circle" size="large" class="ion-padding-end" color="success" (click)="addCreditField()"></ion-icon>
        <ion-icon *ngIf="i > 0" size="large" color="danger" name="remove-circle" (click)="removeCreditField(i)"></ion-icon>
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3" size-xs="12" size-sm="6" size-md="3">
      <ion-item class="ion-text-center">
        <ion-label>
          <p *ngIf="balanced; else notBalanced">
            <ion-icon name="checkmark-circle" color="success"></ion-icon>
            Balanced
          </p>
          <ng-template #notBalanced>
            <p>
              <ion-icon name="close-circle" color="danger"></ion-icon>
              Not Balanced
            </p>
          </ng-template>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="2" size-xs="12" size-sm="6" size-md="2">
      <ion-item class="ion-text-center">
        <ion-label>
          Credit: {{ creditAmount }}
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="2" size-xs="12" size-sm="6" size-md="2">
      <ion-item class="ion-text-center">
        <ion-label>
          Debit: {{ debitAmount }}
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="3" size-xs="12" size-sm="6" size-md="3">
      <ion-button expand="block" [disabled]="!journalForm.valid || !balanced" type="submit">Add Journal Entry</ion-button>
    </ion-col>
    <ion-col size="2" size-xs="12" size-sm="6" size-md="2">
      <ion-button expand="block" color="danger" [disabled]="journalForm.pristine" (click)="journalForm.reset()">Clear All</ion-button>
    </ion-col>
  </ion-row>
  </div>
  </form>
  <!-- size-xs="12" size-sm="6" size-md="4" size-lg="3" -->
  <ion-grid class="table-style" *ngIf="journalEntries" fixed>
    <ion-row class="header">
      <ion-col size="1">Date</ion-col>
      <ion-col size="1">Cost Center</ion-col>
      <ion-col size="2">Sending Account</ion-col>
      <ion-col size="2">Receiving Account</ion-col>
      <ion-col size="3">Transferred Amount</ion-col>
      <ion-col size="3">Particulars</ion-col>
    </ion-row>
    <ion-row class="body" *ngFor="let journalEntry of journalEntries">
    <!-- (click)="presentPopover(bankAccount)" -->
      <ion-col size="1">{{journalEntry.date | date}}</ion-col>
      <!-- TODO: Convert to actual accounts and project -->
      <ion-col size="1">{{
        getCostCenterById(journalEntry.costCenterId) | costcenterOwner
      }}</ion-col>
      <ion-col size="2">{{
          getAccountById(journalEntry.sendingAccountId) | accountOwner
      }}</ion-col>
      <ion-col size="2">{{
          getAccountById(journalEntry.receivingAccountId) | accountOwner
      }}</ion-col>
      <ion-col size="3">{{journalEntry.transferredAmount}}</ion-col>
      <ion-col size="3">{{journalEntry.particulars}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
