<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="journal"></ion-icon>
      Journal Entries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #journalForm="ngForm" (ngSubmit)="addJournalEntry();"> <!-- TODO: Readd journalForm.reset();"> -->
  <ion-row class="ion-margin">
    <ion-col size="3" size-xs="12" size-sm="6" size-md="3">
    <ion-item>
      <ion-label>Project</ion-label>
      <ion-select name="project" [(ngModel)]="this.project" placeholder="Select Project">
        <ion-select-option *ngFor="let project of projects" [value]="project.id">{{project.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    </ion-col>
    <ion-col size="3" size-xs="12" size-sm="6" size-md="3">
    <ion-item>
      <ion-label>Sending Account</ion-label>
      <ion-select name="sendingAccount" [(ngModel)]="this.sendingAccount" placeholder="Sending Account">
        <ion-select-option disabled>Bank Accounts</ion-select-option>
        <ion-select-option *ngFor="let bankAccount of accounts.bankAccounts" [value]="bankAccount.id">{{bankAccount | accountOwner}}</ion-select-option>
        <ion-select-option disabled>Cash Accounts</ion-select-option>
        <ion-select-option *ngFor="let cashAccount of accounts.cashAccounts" [value]="cashAccount.id">{{cashAccount | accountOwner}}</ion-select-option>
      </ion-select>
    </ion-item>
    </ion-col>
    <ion-col size="3" size-xs="12" size-sm="6" size-md="3">
    <ion-item>
      <ion-label>Receiving Account</ion-label>
      <ion-select name="receivingAccount" [(ngModel)]="this.receivingAccount" placeholder="Receiving Account">
        <ion-select-option disabled>Bank Accounts</ion-select-option>
        <ion-select-option *ngFor="let bankAccount of accounts.bankAccounts" [value]="bankAccount.id">{{bankAccount | accountOwner}}</ion-select-option>
        <ion-select-option disabled>Cash Accounts</ion-select-option>
        <ion-select-option *ngFor="let cashAccount of accounts.cashAccounts" [value]="cashAccount.id">{{cashAccount | accountOwner}}</ion-select-option>
      </ion-select>
    </ion-item>
    </ion-col>
    <ion-col size="3" size-xs="12" size-sm="6" size-md="3">
    <ion-item>
      <ion-label>Transferred Amount</ion-label>
      <ion-input name="transferredAmount" [(ngModel)]="this.transferredAmount"
      type="number" placeholder="Transferred Amount"></ion-input>
    </ion-item>
    </ion-col>
    <ion-col size="3" size-xs="12" size-sm="6" size-md="3">
    <ion-item>
      <ion-label>Entry Type</ion-label>
      <ion-select name="typeOfEntry" [(ngModel)]="typeOfEntry" placeholder="Select Entry Type">
        <ion-select-option *ngFor="let entryType of entryTypes" [value]="entryType.id">{{entryType.value}}</ion-select-option>
      </ion-select>
    </ion-item>
    </ion-col>
    <ion-col size="3" size-xs="12" size-sm="6" size-md="3">
    <ion-item>
      <ion-label>Particulars</ion-label>
      <ion-input name="particulars" [(ngModel)]="particulars" type="text" placeholder="Narration"></ion-input>
    </ion-item>
    </ion-col>
    <ion-col size="3" size-xs="12" size-sm="6" size-md="3">
      <ion-button expand="full" [disabled]="!journalForm.valid" type="submit">Add Journal Entry</ion-button>
    </ion-col>
  </ion-row>
  </form>
  <!-- size-xs="12" size-sm="6" size-md="4" size-lg="3" -->
  <ion-grid class="table-style" *ngIf="journalEntries" fixed>
    <ion-row class="header">
      <ion-col size="1">Date</ion-col>
      <ion-col size="1">Project</ion-col>
      <ion-col size="2">Sending Account</ion-col>
      <ion-col size="2">Receiving Account</ion-col>
      <ion-col size="3">Transferred Amount</ion-col>
      <ion-col size="3">Particulars</ion-col>
    </ion-row>
    <ion-row class="body" *ngFor="let journalEntry of journalEntries">
    <!-- (click)="presentPopover(bankAccount)" -->
      <ion-col size="1">{{journalEntry.date | date}}</ion-col>
      <!-- TODO: Convert to actual accounts and project -->
      <ion-col size="1">{{
        journalEntry.project
      }}</ion-col>
      <ion-col size="2">{{
          journalEntry.sendingAccount
      }}</ion-col>
      <ion-col size="2">{{
          journalEntry.receivingAccount
      }}</ion-col>
      <ion-col size="3">{{journalEntry.transferredAmount}}</ion-col>
      <ion-col size="3">{{journalEntry.particulars}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
