<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="today"></ion-icon>
      Projects
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #projectForm="ngForm" (ngSubmit)="addProject(); projectForm.reset();">
    <ion-row class="ion-margin">
      <ion-col size="3" size-xs="12" size-sm="6" size-md="3">
      <ion-item>
        <ion-label position="floating">Project Name</ion-label>
        <ion-input [(ngModel)]="name" name="name" required type="text"></ion-input>
      </ion-item>
      </ion-col>
      <ion-col size="3" size-xs="12" size-sm="6" size-md="3">
      <ion-item>
        <ion-label position="floating">Client</ion-label>
        <ion-input [(ngModel)]="client" name="client" required type="text"></ion-input>
      </ion-item>
      </ion-col>
      <ion-col size="3" size-xs="12" size-sm="6" size-md="3">
      <ion-item>
        <ion-label position="floating">Account Receivable</ion-label>
        <ion-input [(ngModel)]="accountReceivable" name="accountReceivable" required type="number"></ion-input>
      </ion-item>
      </ion-col>
      <ion-col size="3" size-xs="12" size-sm="6" size-md="3">
        <ion-button expand="full" [disabled]="!projectForm.valid" type="submit">Add Project</ion-button>
      </ion-col>
    </ion-row>
    </form>
    <!-- size-xs="12" size-sm="6" size-md="4" size-lg="3" -->
    <ion-grid class="table-style" *ngIf="projects" fixed>
      <ion-row class="header">
        <ion-col size="2">Project Name</ion-col>
        <ion-col size="2">Client</ion-col>
        <ion-col size="2">Unearned Revenue</ion-col>
        <ion-col size="2">Earned Revenue</ion-col>
        <ion-col size="2">Expenses</ion-col>
        <ion-col size="1">Date</ion-col>
        <ion-col size="1">Status</ion-col>
      </ion-row>
      <ion-row class="body" *ngFor="let project of projects">
        <!-- (click)="presentPopover(bankAccount)" -->
        <ion-col size="2">{{ project.name }}</ion-col>
        <ion-col size="2">{{ project.client }}</ion-col>
        <ion-col size="2">{{ project.unearnedRevenue }}</ion-col>
        <ion-col size="2">{{ project.revenue }}</ion-col>
        <ion-col size="2">{{ project.creditedAmount }}</ion-col>
        <ion-col size="1">{{ project.date }}</ion-col>
        <ion-col size="1">{{ project.status }}</ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
