<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input [(ngModel)]="email" required type="email"></ion-input>
        </ion-item>

        <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input [(ngModel)]="password" required type="password"></ion-input>
        </ion-item>

    </ion-list>

    <ion-button fill="solid" expand="block" color="secondary" (click)="login()">Login</ion-button>
    <ion-button fill="solid" expand="block" color="tertiary" [routerLink]="['/register']" routerLinkActive="router-link-active" routerDirection="forward">Register</ion-button>
    
</ion-content>
