.page {
  color: white;
  padding: 0 0rem;
  background: #f1f5f9;
}
.page__box {
  min-height: 120px;
  background: #1e293b;
  margin: 0 -1rem 1;
  font-size: 30px;
  padding: 2rem !important;
}
.page__content {
  min-height: calc(106vh - 175px);
  border-radius: 1px;
  margin-top: -4rem;
  background: white;
  color: black;
  font-size: 1rem;
}
.page__content-data {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
