<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.jpg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" (click)="attribute()">
    <mat-icon>recent_actors</mat-icon> ATTRIBUTES
  </a>
  <a mat-list-item routerLinkActive="list-item-active" (click)="account()">
    <mat-icon>account_box</mat-icon> ACCOUNTS
  </a>
  <a mat-list-item routerLinkActive="list-item-active" (click)="costcenter()">
    <mat-icon>perm_data_setting</mat-icon> COST CENTRE
  </a>
  <a mat-list-item routerLinkActive="list-item-active" (click)="journal()">
    <mat-icon>receipt</mat-icon> JOURNAL
  </a>
  <a mat-list-item routerLinkActive="list-item-active" (click)="reports()">
    <mat-icon>insert_chart_outlined</mat-icon> REPORTS
  </a>
  <a mat-list-item routerLinkActive="list-item-active" (click)="attribute()">
    <mat-icon>help</mat-icon> GUIDE
  </a>
  <a mat-list-item routerLinkActive="list-item-active" (click)="attribute()">
    <mat-icon>settings</mat-icon> SETTINGS
  </a>
</mat-nav-list>
