<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="today"></ion-icon>
      Cost Center
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="projects">
        <ion-icon name="business"></ion-icon>
        <ion-label>Projects</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="non-profit">
        <ion-icon name="paper"></ion-icon>
        <ion-label>Non-Profit</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
