<div class="search-div">
  <button mat-raised-button>
    <mat-icon>add</mat-icon>Create
  </button>
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey"  (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <!-- <mat-form-field class="search-form-field search"floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" class="search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey"  (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field> -->
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData"  matSort>
    <ng-container matColumnDef="accountHolder">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Account Holder</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.accountHolder}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="bank">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Bank</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.bank}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="balance">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Balance</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.balance}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="remarks">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Remarks</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.remarks}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button><mat-icon>launch</mat-icon></button>
        <button mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <!-- <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row> -->
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
