<div class="mat-elevation-z8">
  <div class="search-div">
    <!-- <app-dialogbox></app-dialogbox> -->
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Mia Nawaz Sharif"
        #input
      />
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="dataSource"  matSort class="mat-elevation-z8">
    <ng-container
      [matColumnDef]="tableData"
      *ngFor="let tableData of objectKeys(columnHeader)"
    >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ columnHeader[tableData] }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element[tableData] }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="objectKeys(columnHeader)"></tr>
    <tr mat-row *matRowDef="let row; columns: objectKeys(columnHeader)"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageSize]="5"
    showFirstLastButtons
  ></mat-paginator>
</div>
