<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="analytics"></ion-icon>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div *ngIf="chart"> -->
    <canvas id="canvas">{{ chart }}</canvas>
    <form #weatherForm="ngForm" (submit)="getWeather(city)">
      <ion-input name="city" [(ngModel)]="city"></ion-input>
      <ion-button type="submit">Check temperature</ion-button>
    </form>
  <!-- </div> -->
</ion-content>
