// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// For account tables
.table-style {
    .header ion-col {
        background-color:lightgrey;
    }

    ion-col {
        border: solid 1px grey;
        border-bottom-style: none;
        border-right-style: none;
        text-align: center;
    }

    .body:hover {
        cursor: pointer;
        background-color: lightgrey;
    }

    ion-col:last-child {
        border-right: solid 1px grey;
    }

    ion-row:last-child ion-col {
        border-bottom: solid 1px grey;
    }
}